body {
    background-color: darkcyan;
}

.container {
    background-color: silver;
}

footer {
    background: gold;
    color: rgb(22, 22, 22);
    text-align: center;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.flex-item {
    margin: 1em;
}